<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783212613290-vg808ev4r8a6tgh685v5pq10cvg0tkns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783212613290-vg808ev4r8a6tgh685v5pq10cvg0tkns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783212613290-eknqb3ume7fmv1b8gph6s49s4g076rqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLi8IjngRYW_16QcWjl9sk-PbYq5LQ7_4</string>
	<key>GCM_SENDER_ID</key>
	<string>783212613290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.book</string>
	<key>PROJECT_ID</key>
	<string>bookbuddy-ifro</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbuddy-ifro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783212613290:ios:6690dae368a161d741cad3</string>
</dict>
</plist>